.codespan {
    color: crimson;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #f1f1f1;
}

li {
    padding-top: 0.3em;
}

a:hover {
    color: black;
}

a:visited {
    color: skyblue;
}

a {
    color: gray;
    text-decoration: none;
}

@media(min-width: 600px) {
    .column-grid {
        display: grid;
        grid-template-columns: 10em 1fr;
    }
}

.part {
    background-color: #fafafa;
    border-radius: 10px;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}
